

<div id="ranklist-app">
	<form id="new_rank">
		<input type="text" class="tracker-input" name="rank[domain]" value="domain.com"/>
		<input type="text" class="tracker-input" name="rank[keyword]" value="keyword"/> 
		<input class="go-arrow" type="image" height="40" src="assets/go.png">
	</form>
	<br/><br/>
	<table id="ranks">
		<thead>
			<tr class="table-header">
				<td style="min-width:180px">
					domain
				</td>
				<td style="min-width:300px">
					keyword
				</td>
				<td style="min-width:70px">
					rank
				</td>
				<td>
					&nbsp;&nbsp;
				</td>
			</tr>
		</thead>
	</table>
</div>



<script type="text/javascript">
	$(function(){
		RankList.init();
	});
</script>