

<div id="ranklist-app">
	<form id="new_rank">
		Domain: <input type="text" name="rank[domain]" value=""/><br />
		Keyword: <input type="text" name="rank[keyword]" value=""/><br />
		<input type="submit" value="Check">
	</form>
	<ul id="ranks">

	</ul>
</div>



<script type="text/javascript">
	$(function(){
		RankList.init();
	});
</script>