/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

*{
	padding:0px;
	margin:0px;
}

body{
	margin-top:10px;
	min-width:900px;
	padding:10px 0px 0px 10px;
	
}
.logo > h1 {
	line-height:23px;
}
.header{
	margin-bottom:20px;
}

.wrapper{
	background-color:white;
	position:relative;
}

.left-section{
	width:60%;
	min-height:1400px;
	min-width:400px;
}

.right-section
{
	position:absolute;
	right:0px;
	width:40%;
	box-shadow:inset 1px 1px 4px #000;
	height:110%;
	color:white;
	margin-right:0px;
	background-color: #333;
	margin-top:-10px;
	border-left:1px solid #666;
}

.right-content{
	position:fixed;
	padding:15px 10px;
}

.right-content span{
		line-height:30px;
}
