/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

*{
	padding:0px;
	margin:0px;
}

body{
	margin-top:10px;
	background-color:black; !important
}

.header{
	margin-bottom:20px;
}

.wrapper{
	margin-left:10px;
}

.left-section{
	min-width:400px;
	width:50%;
}

.right-section
{
	box-shadow:inset 1px 1px 4px #000;
	height:100%;
	float:right;
	background-color: #333;
	margin-right:-1px;
	min-width:300px;
	margin-top:-10px;
	width:50%;
	border-left:1px solid #666;
}

