// Place all the styles related to the ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tracker-input, input[type="text"]{
	line-height:20px;
	border:1px solid #919398;
	padding:4px;
	outline:0px;
	width:250px;
	border-radius:0px;
	
}

.go-arrow{
	margin-bottom:10px;
	margin-left:-4px;
	width:auto;
}

#ranks{
	position:relative;
	width:100%;
	border-collapse:collapse;
	z-index:100;
	margin-left:1px;
	.domains-list-body {
		tr{
			
		}
		tr:first-child{
			td{
				color:red;
				font-style:italic;
			}
			&:hover{
				background-color:white;
				border-right:3px solid transparent;
			}
		}
	}
	
}

#ranks tr{
	cursor:pointer;
	td{
		padding:5px 8px;
		&:hover{
			
		}
	}

	td:last-child{
		border-right:3px solid transparent;
	}
	
	&:hover{
		background-color:#e8e8e8;
		td:last-child{
			border-right:3px solid black;
		}
	}
}



#ranks thead tr{
	td{
		background-color:white;
		font-color:black;
		font-weight:bold;
	}
	&:hover{
		td:last-child{
			border-right:3px solid transparent;
		}
	}
}

.domains-list{
	font-family: verdana;
	font-size: 13px;
	line-height: 25px;
}

.details{
	display:none;
	.pane-el{
		display:none;
	}
	.pane-link a{
		color:"blue" !important;
		&:visited{
			color:"blue" !important; 
		}
	}
}

.progress-holder{
	.message{
		font-size:10px;
		font-style:italic;
		position:absolute;
	}
	
	.progress{
		margin-bottom:0px;
	}
	
}

#ranks .tr-highlighted{
	background-color:#e8e8e8;
	td:last-child{
		border-right: 3px solid black;
	}

}

