<!DOCTYPE html>
<html>
<head>
  <title>RankChecker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
	<div class="right-section">
		test
	</div>
	
	<div class="left-section">
		<div class="header">
			<div class="logo">
				<h1>
					<span>&nbsp;rank</span><br/>
					<span>checker</span>
				</h1>
			</div>
		</div>
		<%= yield %>
	</div>

</div>

</body>
</html>
